/* ==========================================================================
   #ARTICLE
========================================================================== */
.article {

}
.article__header {

}
.article__text {
    p, ol, ul, blockquote {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol, ul {
        margin-left: 1em;
    }
    margin-bottom: 1rem;
}
.article__meta {
    div + div {
        margin-top: 1rem;
    }
}
.meta__category {
    a::after {
        content: ', ';
    }
    a:last-child:after {
        content: '';
    }
}

#heart-button {
    background: none;
    color: $base-text-color;
    font-size: 1rem;
}
#heart-image {
    height: 2rem;
    width: auto;
    display: block;
}
#heart-path {
    fill: #fff;
    transition: 0.3s all ease-in-out;
}
#heart-button[data-liked='false'] #heart-path {
    stroke: $purple;
    &:hover {
        fill: $purple;
    }
}
#heart-button[data-liked='true'] #heart-path{
    stroke: $orange;
    fill: $orange;
    &:hover {
        fill: #fff;
    }
}
