/* ==========================================================================
   #ARTICLES
========================================================================== */
.article-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.article-list__item {
    flex: 1;
    @extend .card;
    margin-bottom: 1rem;
    a {
        * {
            color: $link-color;
            display: inline;
        }
        h2 {
            display: block;
            font-size: 1rem;
        }
        &:hover * {
            color: $link-hover-color;
        }
    }
    .article__title {
        @extend .h2;
        color: $base-title-color;
    }
}
.pagination {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
