.site-header {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $grey;
    color: #fff;
    font-size: 0.8rem;
    @extend %float;
    &--pinned {
        transform: translateY(0);
    }
    &--unpinned {
        transform: translateY(-100%);
    }
    a {
        color: $light-purple;
        &:hover {
            color: $orange;
        }
    }
}
