@charset "utf-8";
/* ==========================================================================
   INDEX
========================================================================== */
/*  CONTENTS
 *
 *  GENERAL
 *  1. SCSS................variables and imports
 *  2. GENERAL..........body/html/general styles
 *  3. TYPOGRAPHY...............................
 *
 *  4. ETC
 */


/* ==========================================================================
   #SCSS
========================================================================== */
@import 'normalize';

$S:   480px;
$M:  1024px;
$L:  1440px;
$XL: 1920px;

$purple: hsla(231,48%,48%,1);
$orange: hsla(14,100%,57%,1);
$blue: hsla(231,99%,59%,1);
$grey: hsla(200,19%,18%,1);

$light-grey: lighten($grey,25%);
$lighter-grey: lighten($grey,50%);

$link-color: $purple;
$link-hover-color: $orange;

$base-border-radius: 0.125em;

@mixin at-least($device-width) {
    @media screen and (min-width: $device-width) {
        @content
    }
}

@mixin until($device-width) {
    @media screen and (max-width: $device-width - 1) {
        @content
    }
}

%float {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
}

%float-high {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
}
%text-float {
  -webkit-text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
     -moz-text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
          text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* ==========================================================================
   #GENERAL
========================================================================== */
html {
    font-style: sans-serif;
    text-rendering: optimizeLegibility;
}
body {
    color: #333;
    overflow-x: hidden;
}
a, a:visited {
    color: $link-color;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: $link-hover-color;
}
button, a {
    transition: all 0.3s ease-in-out;
    &:focus, &:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        outline: none;
  }
}
button, .button, a.button {
    font-size: 0.75rem;
    padding: 0.5em;
    color: #fff;
    background-color: $link-color;
    transition: background-color 0.3s ease-in-out;
    border-radius: $base-border-radius;
    &:hover, &:focus, &:active {
        background-color: $link-hover-color;
    }
    &--outline {
        font-size: 0.75rem;
        padding: 0.5em;
        background-color: #fff;
        transition: background-color 0.3s ease-in-out;
        border: 1px solid $link-color;
        color: $link-color;
        &:hover, &:focus, &:active, &:visited {
            border: 1px solid $link-hover-color;
            color: $link-hover-color;
        }
    }
}
/* ==========================================================================
   #TYPOGRAPHY
========================================================================== */
html, body {
    line-height: 1.5;
    font-weight: 400;
    font-family: "effra", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0.5em;
}
h1,.h1 {
    font-size: 3.052rem;
}
h2,.h2 {
    font-size: 2.441rem;
}
h3,.h3 {
    font-size: 1.953rem;
}
h4,.h4 {
    font-size: 1.563rem;
}
h5,.h5 {
    font-size: 1.25rem;
}
h6,.h6 {
    font-size: 1rem;
}
b, strong {
    font-weight: 700;
}
i, em {
    font-style: italic;
}
.errortext {
    color: $link-hover-color;
}

/* ==========================================================================
   #LAYOUT
========================================================================== */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    width: 100%;
    @include until($M) {
        padding: 0 1em;
    }
    @include at-least($M) {
        width: 95%;
    }
    @include at-least($L) {
        width: 80%;
    }
    @include at-least($XL) {
        width: 70%;
    }
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
}
.site-header {
    padding: 1em 0;
    margin-bottom: 2rem;
    @extend .container;
}
#logo {
    float: left;
    height: 3rem;
    width: auto;
    display: inline-block;
    margin-right: 1em;
}
.content {

}
.site-footer{
    margin-bottom: 3rem;
}

/* ==========================================================================
   #NAVIGATION
========================================================================== */
.top-nav {
    float: right;
    text-align: right;
}
.top-nav__links {
    a {
        &::after {
            content: ' | ';
        }
        &:last-child {
            &::after {
                content: '';
            }
        }
        &:hover {
            &::after {
                color: $link-color;
            }
        }
    }
}

/* ==========================================================================
   #ALLAUTH
========================================================================== */
.allauth-container {
    p {
        margin-bottom: 1em;
    }
}
#allauth-messages {
    list-style-type: none;
}
.allauth-form {
    margin-top: 1em;
    max-width: 20em;
    fieldset {
        margin-bottom: 0.5em;
    }
    label {
        display: inline-block
    }
    input {
        display: inline-block;
        float: right;
    }
}

.allauth-social {
    ul {
        max-width: 20em;
        list-style-type: none;
        margin-bottom: 0.5em;
    }
    li {
        margin: 0.5em 0;
        text-align: center;
        a {
            @extend .button;
        }
    }
}
.errorlist {
    list-style-type: none;
    @extend .errortext;
}

.socialaccount_provider.facebook {
    font-size: 1rem;
}

/* ==========================================================================
   #CARDS
========================================================================== */
.card {
    padding: 1em;
    border: 1px solid $lighter-grey;
    @extend %float;
    &__title {

    }
}

/* ==========================================================================
   #FORMS
========================================================================== */
::-webkit-input-placeholder {
    color: $light-grey;
}
:-moz-placeholder { /* Firefox 18- */
    color: $light-grey;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: $light-grey;
}
:-ms-input-placeholder {
    color: $light-grey;
}
.textinput {
    border: 1px solid $lighter-grey;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: $base-border-radius;
    transition: all 0.3s ease-in-out;
    outline: 0;
    &:focus {
        border: 1px solid $link-hover-color;
    }
}
input[type=text],
input[type=url],
input[type=email],
input[type=password],
textarea {
    @extend .textinput;
}

form {
    fieldset {
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
    }
    label {
        display: inline-block;
    }
    input[type=checkbox] ~ label, input[type=radio] ~ label {
        @extend .button--outline;
    }
    input[type=checkbox], input[type=radio] {
        display: none;
        &:checked ~ label {
            color: $link-hover-color;
            border: 1px solid $link-hover-color;
        }
    }
}

.article-form {
    label[for=id_title], label[for=id_text] {
        width: 2.75em
    }
    #id_categories, #id_city {
        margin-top: 1em;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 1em;
        }
    }
    #id_city li {
        &:first-child {
            display: none;
        }
    }
}

/* ==========================================================================
   #ARTICLES
========================================================================== */
.article-list {
    list-style-type: none;
}
.article-list__item {
    @extend .card;
    margin-bottom: 1rem;
    a {
        * {
            display: inline;
        }
        h2 {
            display: block;
        }
    }
}
.pagination {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

/* ==========================================================================
   #ARTICLE
========================================================================== */
.article {

}
.article__header {

}
.article__text {
    p, ol, ul, blockquote {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol, ul {
        margin-left: 1em;
    }
    margin-bottom: 1rem;
}
.article__meta {
    div + div {
        margin-top: 1rem;
    }
}
.meta__category {
    a::after {
        content: ', ';
    }
    a:last-child:after {
        content: '';
    }
}
