{% extends 'articles/base.html' %}

{% block articles %}

<ul class="article-list">
    {% for article in articles %}
    <li class="article-list__item" id="article_id_{{ article.id }}">
        <a href="{% url 'article' article.id %}">
            <h2>
                {{ article.title }}
            </h2>
            <p>
                {{ article.text|truncatechars:50 }}
            </p>
        </a>
    </li>
    {% endfor %}
</ul>

{% include 'articles/article-form.html' %}

{% endblock articles %}
