{% extends 'articles/base.html' %}

{% block article %}

<article>
    <header>
        <h2>{{ article.title }}</h2>
    </header>
    <section>
        {{ article.text }}
    </section>
    <footer>
        <span class="meta__category">
            Category/ies:
                {% for category in article.categories.all %}
                    {{ category.get_name_display }}
                {% endfor %}
        </span>
        <br>
        <span class="meta__city">
            City: {{ article.city.get_name_display }}
        </span>
        <br>
        <span class="meta__update">
            <a class="button" href="{% url 'article-update' pk=article.id %}">update</a>
        </span>
        &nbsp;
        <span class="meta__delete">
            <a class="button" href="{% url 'article-delete' pk=article.id %}">delete</a>
        </span>
    </footer>
</article>

{% endblock article %}
