<ul class="article-list">
    {% for article in articles %}
    <li class="article-list__item" id="article_id_{{ article.id }}">
        <a href="{% url 'article' pk=article.id %}">
            <h2>
                {{ article.title }}
            </h2>
            <p>
                {{ article.text|truncatechars:50 }}
            </p>
        </a>
    </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<nav class="pagination">
    <div class="pagination__articles">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="pagination__current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
</nav>
{% endif %}
