<div class="article-form">
    <h2 class="h3">Submit a new article</h2>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="article-form__error">
                    <strong>{{ error|escape }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="article-form__error">
                <strong>{{ error|escape }}</strong>
            </p>
        {% endfor %}
    {% endif %}
    <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <fieldset class="article-form__field">
            {% if field.name != "name" %}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% else %}
                {{ field.label_tag }}
                <ul id={{ field.auto_id }}>
                {% for checkbox in field %}
                    <li>
                        {{ checkbox.tag }}
                        <label for="{{ checkbox.id_for_label }}">
                            {{ checkbox.choice_label }}
                        </label>
                        {% if field.help_text %}
                        <span class="help">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
        {% endfor %}
        <fieldset class="article-form__field">
            <input class="button" type="submit" value="submit">
        </fieldset>
    </form>
</div>
