{% extends 'articles/base.html' %}

{% load staticfiles %}
{% load bleach_tags %}

{% block main %}

<article class="article">
    <header class="article__header">
        <h1>{{ article.title }}</h1>
    </header>
    <section class="article__text">
        {{ article.text|bleach }}
    </section>
    <footer class="article__meta">
        <div class="likes">
            <button id="heart-button" class="likes__button" data-article-id="{{article.id}}" data-liked="{{view.liked}}">
                <svg id="heart-image" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.15 28.56"><title>heart</title><path d="M9.39,1.42A8,8,0,0,0,3.75,3.73a7.82,7.82,0,0,0,0,11.15l12.12,12a1,1,0,0,0,1.39,0l12.13-12a7.83,7.83,0,0,0,0-11.16,8,8,0,0,0-11.28,0L16.59,5.25,15,3.73A8,8,0,0,0,9.39,1.42Z" stroke-miterlimit="10" stroke-width="2.83" id="heart-path"/></svg>
                <span id="likes__count">{{article.score}} like(s)</span>
            </button>
        </div>
        <div>
            <span class="meta__category">
                Category/ies:
                    {% for category in article.categories.all %}
                        <a href="{% url 'articles' %}?categories__name={{category.id}}">{{ category.get_name_display }}</a>
                    {% endfor %}
            </span>
            <br>
            <span class="meta__user">
                Submitted by: <a href="{% url 'profile' pk=article.author.profile.id %}">{{ article.author }}</a>
            </span>
            <br>
            <span class="meta__city">
                City: <a href="{% url 'articles' %}?city__name={{article.city.id}}">{{ article.city.get_name_display }}</a>
            </span>
        </div>
        {% if user.is_authenticated %}
        <div>
            <span class="meta__update">
                <a class="button" href="{% url 'article-update' pk=article.id %}">update</a>
            </span>
            &nbsp;
            <span class="meta__delete">
                <a class="button" href="{% url 'article-delete' pk=article.id %}">delete</a>
            </span>
        </div>
        {% endif %}
    </footer>
</article>

{% endblock main %}

{% block sidebar-right %}
    <h3>Submit an article</h3>
    <a href="{% url 'article-submit' %}" class="button">start writing</a>
{% endblock sidebar-right %}

{% block extra_footer_stuff %}
<script src="{% static 'articles/build/js/like.js' %}"></script>
{% endblock extra_footer_stuff %}
