{% extends 'articles/base.html' %}

{% block main %}

    <h1 class="articles-title">Articles</h1>
    {% include 'articles/article-list.html' %}

{% endblock main %}

{% block sidebar-left %}
    {% if filter.form %}
        {% include 'articles/filter-form.html' %}
    {% endif %}
{% endblock sidebar-left %}

{% block sidebar-right %}
    <h3>Submit an article</h3>
    <a href="{% url 'article-submit' %}" class="button">start writing</a>
{% endblock sidebar-right %}

{% block extra_footer_stuff %}
{% endblock extra_footer_stuff %}
