{% extends 'articles/base.html' %}

{% block article-update %}

    <h2 class="h3">Edit your article</h2>
    {% include 'articles/article-update-form.html' %}

{% endblock article-update %}

{% block extra_footer_stuff %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script>window.jQuery || !function(){var a=document.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("/static/articles/build/lib/node_modules/jquery/dist/jquery.min.js",source),document.body.appendChild(a)}();</script>
    <script type="text/javascript" src="/static/articles/build/lib/node_modules/tinymce/tinymce.js"></script>
{% endblock extra_footer_stuff %}
