{% extends 'articles/base.html' %}

{% block main %}

<article class="article">
    <header class="article__header">
        <h1>{{ article.title }}</h1>
    </header>
    <section class="article__text">
        {{ article.text|safe }}
    </section>
    <footer class="article__meta">
        <div>
            <span class="meta__category">
                Category/ies:
                    {% for category in article.categories.all %}
                        <a href="{% url 'category' pk=category.id %}">{{ category.get_name_display }}</a>
                    {% endfor %}
            </span>
            <br>
            <span class="meta__user">
                Submitted by: <a href="{% url 'profile' pk=article.author.profile.id %}">{{ article.author }}</a>
            </span>
            <br>
            <span class="meta__city">
                City: <a href="{% url 'city' pk=article.city.id %}">{{ article.city.get_name_display }}</a>
            </span>
        </div>
        {% if user.is_authenticated %}
        <div>
            <span class="meta__update">
                <a class="button" href="{% url 'article-update' pk=article.id %}">update</a>
            </span>
            &nbsp;
            <span class="meta__delete">
                <a class="button" href="{% url 'article-delete' pk=article.id %}">delete</a>
            </span>
        </div>
        {% endif %}
    </footer>
</article>

{% endblock main %}

{% block sidebar-right %}
    <h3>Submit an article</h3>
    <a href="{% url 'article-submit' %}" class="button">start writing</a>
{% endblock sidebar-right %}
