{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Togethere</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
          (function(d) {
            var config = {
              kitId: 'snd6kgu',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

        <link rel="stylesheet" type="text/css" href="{% static 'articles/build/css/main.css' %}" />
    </head>
    <body id="body">
        <header class="site-header">
            <a href="/">
                <img src="{% static 'articles/build/img/togethere-logo.svgz' %}" id="logo" alt="Click this togethere logo to go to the home page" role="img">
            </a>
            <nav role="navigation">
                <div id="auth">
                </div>
            </nav>
        </header>

        <main class="content container">

            {% block articles %}

            {% endblock articles %}

            {% block article %}

            {% endblock article %}

        </div>

        <footer class="site-footer">
        </footer>

        <script src="{% static 'articles/build/js/main.js' %}"></script>
    </body>
</html>
